<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yway.scomponent.organ">

    <application>
        <activity
            android:name=".mvp.ui.activity.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PrepareMetingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.UserSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.VisitorRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MySubscribeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ApproveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SubscribeSucceesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChooseCompanyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChooseUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ApplyRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MeetingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyMeetingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.OnlineSubscribeRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ConferenceRoomActivity"
            android:screenOrientation="portrait" /> <!-- 在组件集成宿主时, 由于宿主已经声明了 CommonSDK 的公有 ConfigModule, 所以在这里只需要声明业务组件自己的 ConfigModule -->
        <meta-data
            android:name="com.yway.scomponent.organ.app.GlobalConfiguration"
            android:value="ConfigModule" />
    </application>

</manifest>